<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>17850139100-om73r2cinpqjuamm5rbih8dsa0gvaasd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.17850139100-om73r2cinpqjuamm5rbih8dsa0gvaasd</string>
	<key>API_KEY</key>
	<string>AIzaSyADK00M0kL8INkCc7oI2QejMiAvybpc-4c</string>
	<key>GCM_SENDER_ID</key>
	<string>17850139100</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.mgs.my</string>
	<key>PROJECT_ID</key>
	<string>my-mgs-app</string>
	<key>STORAGE_BUCKET</key>
	<string>my-mgs-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:17850139100:ios:81d78acc788f45ec988f19</string>
	<key>DATABASE_URL</key>
	<string>https://my-mgs-app.firebaseio.com</string>
</dict>
</plist>